//-------------------------------------------------------------------
// bu component: panel
//-------------------------------------------------------------------

// LAYOUT //
.bu.panel {
  position: absolute;
  top     : 0;
  left    : 0;
  bottom  : 0;
  &.inactive, &.disabled { display: none; }
  &.ready, &.active, &.enabled { display: block;}
}

// DECORATION //
.bu.panel {
  color: #CCCCCC;
  background-color: white;

  @each $color, $value in $colors {
    &.#{$color} {
      color: white !important;
      background-color: color($color, 1, active);
    }
  }
  &.left {
    @include box-shadow(inset -5px 0px 3px -3px black(.35));
    & > .toolbar {
      @include box-shadow(inset -5px 0px 3px -3px black(.35));
    }
  }
  &.right {
    @include box-shadow(inset 5px 0px 3px -3px black(.35));
    & > .toolbar {
      @include box-shadow(inset 5px 0px 3px -3px black(.35));
    }
  }
}