//-------------------------------------------------------------------
// bu component: page
//-------------------------------------------------------------------
.bu.page {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #CCCCCC;
  background-color: white;

  @each $color, $value in $colors {
    &.#{$color} {
      color: white !important;
      background-color: color($color, 1, active);
    }
  }

  &.active   {
    display: block;
    z-index: 2;
  }
  &.ready {
    display: block;
    z-index: 1;
  }
  &.inactive {
    display: none;
    z-index: 0;
  }
}