//-------------------------------------------------------------------
// bu component: bar
//-------------------------------------------------------------------

// LAYOUT //
.bu.bar {

  display : block;
  width   : 100%;

  @include responsive(small)  { padding:  .5rem .5rem; }
  @include responsive(medium) { padding: .75rem  1rem; }
  @include responsive(large)  { padding: .75rem  1rem; }

  /* sub-container: element */
  .element {
    display: inline-block;
    vertical-align: middle;
    & > * {
      margin: 0 .25rem;
      &:first-child { margin-left : 0 !important; }
      &:last-child  { margin-right: 0 !important; }
    }
  }

  /* element: text */
  .element.text {
    text-overflow: ellipsis;
    white-space  : nowrap;
    overflow     : hidden;
    font-size    : 1.1rem;
  }
}

// DECORATION //
.bu.bar {
  &.top {
    @include border-top-left-radius(inherit);
    @include border-top-right-radius(inherit);
  }
  &.bottom {
    @include border-bottom-left-radius(inherit);
    @include border-bottom-right-radius(inherit);
  }
  @include transition(background-color .25s ease);
  background-color: transparent;

  @each $color, $value in $colors {
    &.#{$color} {
      background-color: color($color, 1);
    }
  }
}

// COLOR //
.bu.bar > .element.text {
  color: black(.8);
  &.light { color: white(.8); }
  &.dark  { color: black(.8); }
}