//-------------------------------------------------------------------
// bu.variables
//-------------------------------------------------------------------

// fonts //
$font-include-english : false;
$font-include-korean  : true;
$font-include-initials: false;

// miscellaneous //
$simple-transition-duration: .1s;

// icons //
//-------------------------------------------------------------------
// Declare icons used in the app here
// $use-{icon-name}-{size}-{color}: true

$use-coffee-small-gray  : true;
$use-coffee-medium-gray : true;
$use-coffee-large-gray  : true;
$use-coffee-small-white : true;
$use-coffee-medium-white: true;
$use-coffee-large-white : true;
