<div bu-screen="content"
     bu-screen-options="{large:'left'}">

  <div bu-pages
       bu-flex="column"
       bu-flex-event="BU_EVENT_SCREEN:READY">
    <div bu-flex-element="remaining">
      <div bu-page
           bu-background="/static/images/space.jpg">
      </div>
    </div>
    <div class="bu light toolbar"
         bu-flex-element="fixed"
         bu-flex="row" bu-condense>
      <div class="bu element" bu-flex-element="fixed" bu-condense>
        <div class="bu gray medium coffee icon link"
             bu-touch-tap="actions.togglePanel('content', 'left')">
        </div>
      </div>
      <div class="bu element text" bu-flex-element="expand">Content</div>
      <div class="bu element" bu-flex-element="fixed" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
    </div>
  </div>

  <!-- panel -->
  <div class="right shadow scrollable"
       bu-panel="left"
       bu-width="280"
       bu-flex="column">
    <div class="screen-center bu grey large coffee icon"></div>
    <div bu-flex-element="remaining"
         bu-background="/static/images/underwater.jpg">
    </div>
    <div class="bu light toolbar"
         bu-flex-element="fixed"
         bu-flex="row" bu-condense>
      <div class="bu element" bu-flex-element="fixed" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
      <div class="bu element text" bu-flex-element="expand">Left</div>
      <div class="bu element" bu-flex-element="fixed" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
    </div>
  </div>
</div>
