<div bu-screen="{name: 'home', panels:{large:'both'}}">

  <!-- window -->
  <div bu-window bu-flex="column">
    <div bu-pages bu-flex-element="remaining">
      <div bu-page="{mode: 'pageview'}"
           bu-background="{
             src     : '/static/images/background.jpg',
             size    : 'cover',
             position: 'center center',
           }">
      </div>
      <div bu-page="{mode: 'pageveiw'}"
           bu-background="{
             src     : '/static/images/space.jpg',
             size    : 'cover',
             position: 'center center',
           }">
      </div>
      <div bu-page="{mode: 'scrollview'}"
           bu-background="{
            src     : '/static/images/underwater.jpg',
            size    : 'cover',
            position: 'center center',
           }">
      </div>
    </div>
    <div bu-flex-element="fixed"
         bu-flex="row"
         class="bu secondary toolbar"
         bu-condense>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu white medium coffee icon link"
             bu-touch-tap="actions.togglePanel('home', 'left')">
        </div>
      </div>
      <div bu-flex-element="expand" class="bu element text">
        Home
      </div>
      <div bu-flex-element="expand" class="bu element text">&lt;</div>
      <div bu-flex-element="expand" class="bu element text">&gt;</div>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu white medium coffee icon link"
             bu-touch-tap="actions.togglePanel('home', 'right')">
        </div>
      </div>
    </div>
  </div>

  <!-- panels -->
  <div bu-flex="column"
       class="green scrollable"
       bu-panel="{
         'width'   : 280,
         'position': 'left',
       }">

    <div class="screen-center bu grey large coffee icon"></div>
    <div bu-flex-element="remaining"></div>
    <div bu-flex-element="fixed" bu-flex="row"
         class="bu light toolbar" bu-condense>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
      <div bu-flex-element="expand" class="bu element text">Left</div>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
    </div>
  </div>
  <div bu-flex="column"
       class="blue scrollable"
       bu-panel="{
         'width'   : 280,
         'position': 'right',
       }">

    <div class="screen-center bu grey large coffee icon"></div>
    <div bu-flex-element="remaining"></div>
    <div bu-flex-element="fixed" bu-flex="row"
         class="bu light toolbar" bu-condense>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
      <div bu-flex-element="expand" class="bu element text">Right</div>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
    </div>
  </div>
</div>
