<div bu-screen="{name: 'home', responsive: 'both'}">

  <!-- window -->
  <div bu-flex="column" bu-window="{offset: 280}">

    <div bu-flex-element="remaining">
      <div bu-pages>
        <div bu-background="{
              src     : '/static/images/background.jpg',
              size    : 'cover',
              position: 'center center',
             }" bu-page="{mode: 'pageview'}">
        </div>
        <div bu-background="{
              src     : '/static/images/space.jpg',
              size    : 'cover',
              position: 'center center',
             }" bu-page="{mode: 'pageveiw'}">
        </div>
        <div bu-background="{
              src     : '/static/images/underwater.jpg',
              size    : 'cover',
              position: 'center center',
             }" bu-page="{mode: 'scrollview'}">
        </div>
      </div>
    </div>
    <div bu-flex-element="fixed"
         bu-flex="row"
         class="bu secondary toolbar"
         bu-condense>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu white medium coffee icon link"
             bu-touch-tap="bu.screens['home'].togglePanel('left')">
        </div>
      </div>
      <div bu-flex-element="expand" class="bu element text">
        Home
      </div>
      <div bu-flex-element="expand" class="bu element text">&lt;</div>
      <div bu-flex-element="expand" class="bu element text">&gt;</div>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu white medium coffee icon link"
             bu-touch-tap="bu.screens['home'].togglePanel('right')">
        </div>
      </div>
    </div>
  </div>

  <!-- panels -->
  <div bu-flex="column"
       class="green scrollable"
       bu-panel="{
         'width'   : 280,
         'position': 'left',
       }">

    <div class="screen-center bu grey large coffee icon"></div>
    <div bu-flex-element="remaining">
      <div class="bu page"></div>
    </div>
    <div bu-flex-element="fixed" bu-flex="row"
         class="bu light toolbar" bu-condense>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
      <div bu-flex-element="expand" class="bu element text">Left</div>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
    </div>
  </div>
  <div bu-flex="column"
       class="blue scrollable"
       bu-panel="{
         'width'   : 280,
         'position': 'right',
       }">

    <div class="screen-center bu grey large coffee icon"></div>
    <div bu-flex-element="remaining">
      <div class="bu page"></div>
    </div>
    <div bu-flex-element="fixed" bu-flex="row"
         class="bu light toolbar" bu-condense>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
      <div bu-flex-element="expand" class="bu element text">Right</div>
      <div bu-flex-element="fixed" class="bu element" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
    </div>
  </div>
</div>
