<div bu-screen="widgets"
     bu-screen-options="{large: 'right'}">
  <div bu-pages
       bu-flex="column"
       bu-flex-event="BU_EVENT_SCREEN:READY">
    <div bu-flex-element="remaining">
      <div bu-page
           bu-background="/static/images/space.jpg">
      </div>
    </div>
    <div class="bu black toolbar"
         bu-flex-element="fixed"
         bu-flex="row" bu-condense>
      <div class="bu element" bu-flex-element="fixed" bu-condense>
        <div class="bu gray medium coffee icon link"
             bu-touch-tap="actions.togglePanel('widgets', 'left')">
        </div>
      </div>
      <div class="bu element text" bu-flex-element="expand">Widgets</div>
      <div class="bu element" bu-flex-element="fixed" bu-condense>
        <div class="bu gray medium coffee icon link"
             bu-touch-tap="actions.togglePanel('widgets', 'right')">
        </div>
      </div>
    </div>
  </div>

  <!-- panel -->
  <div class="left shadow scrollable"
       style="background-color:lightgray"
       bu-panel="right"
       bu-width="280"
       bu-flex="column">

    <div class="screen-center bu grey large coffee icon"></div>
    <div bu-flex-element="remaining"></div>
    <div class="bu black toolbar"
         bu-flex-element="fixed"
         bu-flex="row" bu-condense>
      <div class="bu element" bu-condense bu-flex-element="fixed">
        <div class="bu gray medium coffee icon link"></div>
      </div>
      <div class="bu element text" bu-flex-element="expand">
        Right
      </div>
      <div class="bu element" bu-condense bu-flex-element="fixed">
        <div class="bu gray medium coffee icon link"></div>
      </div>
    </div>
  </div>
  <div class="right shadow scrollable"
       style="background-color:lightgray"
       bu-panel="left"
       bu-width="280"
       bu-flex="column">

    <div class="screen-center bu grey large coffee icon"></div>
    <div bu-flex-element="remaining"></div>
    <div class="bu black toolbar bottom"
         bu-flex-element="fixed"
         bu-flex="row" bu-condense>
      <div class="bu element" bu-flex-element="fixed" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
      <div class="bu element text" bu-flex-element="expand">
        The Adventures of Sherlock Holmes
      </div>
      <div class="bu element text" bu-flex-element="fixed">1/2</div>
      <div class="bu element" bu-flex-element="fixed" bu-condense>
        <div class="bu gray medium coffee icon link"></div>
      </div>
    </div>
  </div>
</div>
